@model CatalogItemViewModel

@*<!--This file is auto generated from the .zml file.
Make cahnges only to the .zml file, and don't make any changes here,
because they will be overwritten when the .zml file changes.
If you want to format this file to review some blocks,
use the Edit\Advanced\Format Document from main menus. -->*@

<form asp-page="/Basket/Index" method="post">
 <img class="esh-catalog-thumbnail" src="@Model.PictureUri" />
 <input class="esh-catalog-button" type="submit" value="[ ADD TO BASKET ]" />
 <div class="esh-catalog-name">
 <span>@Model.Name</span>
 </div>
 <div class="esh-catalog-price">
 <span>@Model.Price.ToString("N2")</span>
 </div>
 <input type="hidden" asp-for="@Model.Id" name="id" />
 <input type="hidden" asp-for="@Model.Name" name="name" />
 <input type="hidden" asp-for="@Model.PictureUri" name="pictureUri" />
 <input type="hidden" asp-for="@Model.Price" name="price" />
</form>